@font-face {
  font-family: 'Minecraft';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../public/fonts/Minecraft-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Minecraft';
  font-style: bold;
  font-weight: 700;
  src: url(../public/fonts/Minecraft-Bold.otf) format('opentype');
}

html,
body,
#__next {
  min-height: 100vh;
}
