.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(#00000000 0%, #1c1d31 90%),
    url(../public/banner.png) no-repeat;
  background-size: cover;
}

.hero {
  flex: 9;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  flex: 1;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerSubtitle {
  flex: 1;
}

.logo {
  flex: 1;
  margin-top: 3rem;
}

.downloads {
  flex: 1;
  display: flex;
  width: 64rem;
  justify-content: space-evenly;
}
