:root {
  --furf-white: #fff;
  --furf-white-shadow: #383838;
  --furf-gold: #fbcc6c;
  --furf-gold-shadow: #441A08;
  --furf-legendary: #FFAA00;
  --furf-legendary-shadow: #2A2A00;
  --furf-orange: #c87333;
  --furf-violet-light: #d48af1;
  --furf-violet-dark: #683d8d;
  --furf-background: #444a71;
  --furf-background-dark: #1c1d31;

  --navbar-height: 4.8rem;
}
